*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (min-width: 360px) and (max-width: 831px) {
    .container{
        width: 360px;
    }
    /* HEADER */
    .header{
        width: 360px;
    }
    .main{
        margin-left: 60px;
    }
    .title1{
        font-size: 32px;
    }
    .circle1{
        margin-left: 100px;
        width: 60px;
        height: 60px;
    }
    .wrap{
        margin-left: 200px;
    }
    /* HEADER END */
    .section{
        width: 360px;
        height: 1300px;
    }
    .block{
        width: 360px;
        height: 700px;
    }
    .image{
        width: 360px;
    }
    .rectangle{
        width: 360px;
    }
    /* FOOTER */
    .footer{
        width: 360px;
    }
    /* FOOTER END */
}