*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (min-width: 832px) and (max-width: 1279px) {
    .container{
        width: 832px;
    }
    /* HEADER */
    .header{
        width: 832px;
    }
    .main{
        margin-left: 360px;
    }
    .circle1{
        margin-left: 400px;
    }
    .wrap{
        margin-left: 600px;
    }
    .image{
        width: 832px;
        height: 350px;
    }
    /* HEADER END */
    .section{
        width: 832px;
        height: 900px;
    }
    .box{
        width: 450px;
        height: 150px;
        padding: 30px;
    }
    .box2{
        margin-left: 390px;
    }
    .title3{
        font-size: 30px;
    }
    .square{
        display: none;
    }
    .rect{
        width: 65px;
        height: 440px;
        margin-left: 770px;
    }
    /* FOOTER */
    .footer{
        width: 832px;
    }
    /* FOOTER END */
}